:root {
    --primary-color: #333;
    --secondary-color: #666;
    }
    
    main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    font-family: 'Open Sans', sans-serif;
    }
    
    .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    }
    
    .Data {
    flex-basis: 40%;
    }
    .Weather {
        flex-basis: 40%;
        text-align: center;
        }
        
        .Weather img {
        width: 50%;
        height: auto;
        margin: 0 auto;
        }
        
        footer {
        text-align: center;
        }
        
        @media only screen and (max-width: 768px) {
        .container {
        flex-direction: column;
        }
    }  